$color-violet: #9243e6de;
$color-darkblue: #2b3a62;
$color-white: #ffff;
$color-lightgrey: #e3e3e3;
$color-green: #55af6f;
$color-black: #000000;
$color-blackish: #161518;
$color-grey: #525154;
$color-yellowgreen: #cee063;
$color-bluegrey: #4a5863;
$color-blandgreen: #4fae73;
$color-purple: #6b7cfd;
$color-purplegrey: #949ab0;
$color-lightpurple: #dadffb;
// $centavi-yellowgreen: #e2fc58;

$color-accentgreen: #a3b63c;

$margin-landing: 3%;
