$color-violet: #9243e6de;
$color-darkblue: #2b3a62;
$color-white: #ffff;
$color-lightgrey: #e3e3e3;
$color-blackish: #161518;
$color-yellowgreen: #cee063;
$color-purple: #6b7cfd;
$color-purplegrey: #949ab0;
$color-lightpurple: #dadffb;
$color-accentgreen: #a3b63c;
$color-accentviolet: #4c2972de;