.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

    a {
      padding: 10px;
    }
  }
}
