@import '../assets/scss/styles';
@import '../assets/scss/keyframes';

.landing {
  background-color: $color-lightgrey;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
}
