@import "../assets/scss/styles";

.dashboard {
  display: grid;
  grid-template-columns: repeat(12, 6%);
  column-gap: 2%;
  grid-template-rows: repeat(12, 6%);
  row-gap: 2%;
  width: 100vw;
  height: 100vh;
  margin: 2%;

  .dashboard-graph {
    padding: 20px;
    background-color: rgba($color-lightpurple, 0.04);
    box-shadow: -12px -12px 24px rgba($color-white, 0.3),
      inset 15px 15px 50px rgba($color-white, 0.1),
      12px 12px 24px rgba($color-darkblue, 0.06);
    border-radius: 25px;
    cursor: pointer;

    &:hover {
      box-shadow: -15px -15px 20px rgba($color-white, 0.3),
        15px 15px 35px rgba($color-darkblue, 0.06),
        inset -5px -5px 10px rgba($color-darkblue, 0.07),
        inset 5px 5px 10px rgba($color-darkblue, 0.05);
    }

    h3 {
      text-align: center;
    }
  }

  .graph-1 {
    grid-column: 3/8;
    grid-row: 2/8;
  }

  .graph-2 {
    grid-column: 8/13;
    grid-row: 2/8;
  }

  .graph-3 {
    grid-column: 3/7;
    grid-row: 8/12;
  }
  .graph-4 {
    grid-column: 7/10;
    grid-row: 8/12;
  }
  .graph-5 {
    grid-column: 10/13;
    grid-row: 8/12;
  }
}
