@import "../assets/scss/styles";

.dashboard {
  display: grid;
  grid-template-columns: repeat(12, 6%);
  column-gap: 2%;
  grid-template-rows: repeat(12, 6%);
  row-gap: 2%;
  width: 100vw;
  height: 100vh;
  margin: 2%;

  .dashboard-graph {
    border-radius: 20px;
    background-color: $color-lightgrey;
    box-shadow: 2.5px 2.5px 1px rgba($color-lightgrey, 0.2),
      3px 3px 1px rgba($color-lightgrey, 0.3),
      4.5px 4.5px 1px rgba($color-lightgrey, 0.3),
      5.5px 5.5px 1px rgba($color-lightgrey, 0.4),
      6.5px 6.5px 1px rgba($color-lightgrey, 0.1),
      8.5px 8.5px 1px rgba($color-darkblue, 0.2);
    border: 3px solid rgba($color-darkblue, 0.04);
    color: $color-violet;
    cursor: pointer;

    &:hover {
      background-color: rgba($color-lightgrey, 1);
      box-shadow: 2.5px 2.5px 1px rgba($color-lightgrey, 0.2),
        3px 3px 1px rgba($color-violet, 0.3),
        4.5px 4.5px 1px rgba($color-violet, 0.3),
        5.5px 5.5px 1px rgba($color-violet, 0.4),
        6.5px 6.5px 1px rgba($color-violet, 0.1),
        8.5px 8.5px 1px rgba($color-darkblue, 0.25);
      border: 3px solid rgba($color-darkblue, 0.04);
    }

    h3 {
      text-align: center;
    }
  }

  .graph-1 {
    grid-column: 3/8;
    grid-row: 2/8;
  }

  .graph-2 {
    grid-column: 8/13;
    grid-row: 2/8;
  }

  .graph-3 {
    grid-column: 3/7;
    grid-row: 8/12;
  }
  .graph-4 {
    grid-column: 7/10;
    grid-row: 8/12;
  }
  .graph-5 {
    grid-column: 10/13;
    grid-row: 8/12;
  }
}
