@import "../assets/scss/color-palette";

.dashboard {
  display: grid;
  grid-template-columns: repeat(12, 6%);
  column-gap: 2%;
  grid-template-rows: repeat(12, 6%);
  row-gap: 2%;
  width: 100vw;
  height: 100vh;
  margin: 2%;

  .dashboard-graph {
    border-radius: 20px;
    background-color: $color-lightgrey;
    box-shadow: 2.5px 2.5px 1px rgba($color-lightgrey, 0.2),
      3px 3px 1px rgba($color-lightgrey, 0.3),
      4.5px 4.5px 1px rgba($color-lightgrey, 0.3),
      5.5px 5.5px 1px rgba($color-lightgrey, 0.4),
      6.5px 6.5px 1px rgba($color-lightgrey, 0.1),
      8.5px 8.5px 1px rgba($color-darkblue, 0.2);
    border: 3px solid rgba($color-darkblue, 0.04);
    color: $color-violet;
    cursor: pointer;

    &:hover {
      background-color: rgba($color-lightgrey, 1);
      box-shadow: 2.5px 2.5px 1px rgba($color-lightgrey, 0.2),
        3px 3px 1px rgba($color-violet, 0.3),
        4.5px 4.5px 1px rgba($color-violet, 0.3),
        5.5px 5.5px 1px rgba($color-violet, 0.4),
        6.5px 6.5px 1px rgba($color-violet, 0.1),
        8.5px 8.5px 1px rgba($color-darkblue, 0.25);
      border: 3px solid rgba($color-darkblue, 0.04);
    }

    h3 {
      text-align: center;
      margin-top: 10px;
      font-size: 1.4em;
      font-weight: 500;
    }
  }

  .active-users-graph {
    color: $color-violet;
    grid-column: 3/9;
    grid-row: 2/8;
    position: relative;

    .active-users-pie-chart {
      display: flex;
      justify-content: center;
      transform: scale(1.3);
      margin-top: 23px;

      .no-users-span {
        text-align: center;
        margin-top: 80px;
      }
    }
    .active-users-text {
      position: absolute;
      left: 5%;
      bottom: 1.5%;
      width: 90%;
      font-size: 1.3em;
      text-align: center;

      span {
        font-weight: 700;
        font-size: 1.2em;
      }
    }
  }

  .vip-shares-graph {
    grid-column: 9/13;
    grid-row: 2/8;
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;

    .vip-shares-pie-chart {
      transform: scale(1.55);
      display: flex;
      justify-content: center;
      margin-top: 7%;
    }

    span {
      margin-top: 50px;
    }
  }

  .pending-graph {
    grid-column: 3/6;
    grid-row: 8/12;
    position: relative;

    div {
      position: absolute;
      text-align: center;
      top: 30%;
      left: 20%;

      .pending-number {
        font-size: 3em;
        font-weight: 900;
      }

      .activation-text {
        font-size: 1.2em;
      }
    }

    .no-requests-text {
      font-weight: 600;
      font-size: 1.5em;
      text-align: center;
      width: fit-content;
      margin: 15% auto;
    }
  }
  .transactions-graph {
    grid-column: 6/10;
    grid-row: 8/12;
    display: flex;
    flex-direction: column;

    .transactions-text-container {
      text-align: center;
      margin-top: 10%;

      .transactions-number {
        font-size: 2.5em;
        font-weight: 900;
      }
      .transactions-span {
        font-size: 1.4em;
      }
    }
  }

  .vip-graph {
    grid-column: 10/13;
    grid-row: 8/12;
    display: flex;
    flex-direction: column;
    position: relative;

    h3 {
      position: absolute;
      background-color: $color-lightgrey;
      width: 100%;
      overflow-y: none;
    }

    .vip-list {
      padding: 10px;
      margin-top: 45px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        margin: 3px;
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $color-darkblue;
        border-radius: 20px;
      }

      &::-webkit-scrollbar-track {
        margin: 5px 0 15px;
      }

      li {
        padding: 0 3px;
        font-size: 1.3em;
        font-weight: 500;
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    span {
      display: flex;
      justify-content: center;
      margin-top: 20%;
    }
  }
}

@media only screen and (max-width: 1366px) {
  .dashboard {
    .vip-shares-graph {
      .vip-shares-pie-chart {
        transform: scale(1.2);
        margin-top: 3%;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .dashboard {
    .active-users-graph {
      .active-users-pie-chart {
        transform: scale(1.3);
        margin: 45px 0 0 0;
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .dashboard {
    .active-users-graph {
      .active-users-pie-chart {
        transform: scale(1.4);
        margin: 45px 0 0 0;
      }
    }
  }
}
