@import "../assets/scss/color-palette";

.global-transactions {
  display: grid;
  grid-template-columns: repeat(12, 6%);
  column-gap: 2%;
  grid-template-rows: repeat(12, 6%);
  row-gap: 2%;
  width: 100vw;
  height: 100vh;
  margin: 2%;

  .transactions-table {
    grid-column: 3/13;
    grid-row: 2/12;
    position: relative;
    border-bottom: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: $color-lightgrey;
    box-shadow: 2.5px 2.5px 1px rgba($color-lightgrey, 0.2),
      3px 3px 1px rgba($color-white, 0.3),
      4.5px 4.5px 1px rgba($color-lightgrey, 0.3),
      5.5px 5.5px 1px rgba($color-white, 0.4),
      6.5px 6.5px 1px rgba($color-darkblue, 0.1),
      8.5px 8.5px 1px rgba($color-darkblue, 0.13);
    border: 3px solid rgba($color-darkblue, 0.04);
    color: $color-violet;

    .transactions-header {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      background-color: antiquewhite;
      background-color: $color-lightgrey;
      padding-top: 1%;
      width: 100%;
      height: 80px;
      overflow-y: none;
      position: absolute;
      top: 0;
      justify-items: center;
      z-index: 2;

      .transaction-type {
        position: relative;

        .transactions-label {
          transform: translateX(-10px);
          display: flex;
          align-items: center;
          justify-content: center;

          .dropdown-icon {
            font-size: 1.5em;
            cursor: pointer;
            border-radius: 50%;

            &:hover {
              box-shadow: -12px -12px 24px rgba($color-white, 0.3),
                inset -5px -5px 10px rgba($color-darkblue, 0.07),
                inset 5px 5px 10px rgba($color-darkblue, 0.07),
                12px 12px 24px rgba($color-darkblue, 0.06);
            }
          }
        }

        .transactions-controls {
          display: flex;
          flex-direction: column;
          text-align: left;
          position: absolute;
          background-color: $color-lightgrey;
          width: max-content;
          padding: 20% 20% 10% 20%;
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px;
          accent-color: $color-violet;

          input[type="checkbox"] {
            margin-right: 5px;
          }
        }
      }

      .sender-container,
      .recepient-container {
        position: relative;
        transform: translateX(-20px);

        h3 {
          display: flex;
        }
        .search-icon {
          font-size: 0.9em;
          cursor: pointer;
          border-radius: 50%;
          box-sizing: content-box;
          padding: 6px;
          bottom: 3px;

          &:hover {
            box-shadow: -12px -12px 24px rgba($color-white, 0.3),
              inset -5px -5px 10px rgba($color-darkblue, 0.07),
              inset 5px 5px 10px rgba($color-darkblue, 0.07),
              12px 12px 24px rgba($color-darkblue, 0.06);
          }
        }

        .transactions-searchbar {
          position: absolute;
          background-color: $color-lightgrey;
          padding: 8%;
          border-radius: 10px;
          border: 3px solid $color-lightgrey;
          width: 140px;
          height: 30px;
          font-size: 1em;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 3px;
          left: 0;
          right: 0;
          text-align: center;

          box-shadow: -12px -12px 24px rgba($color-white, 0.3),
            inset -5px -5px 10px rgba($color-darkblue, 0.07),
            inset 5px 5px 10px rgba($color-darkblue, 0.07),
            12px 12px 24px rgba($color-darkblue, 0.06);
          border: 3px solid rgba($color-darkblue, 0.08);
          background-color: rgba($color-darkblue, 0.04);
        }

        ::placeholder {
          font-size: 0.75em;
          color: rgba($color-violet, 0.4);
        }
      }
    }

    .transactions-list {
      margin-top: 80px;
      overflow-y: scroll;
      position: absolute;
      height: 80%;
      width: 100%;

      &::-webkit-scrollbar {
        margin: 3px;
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $color-darkblue;
        border-radius: 20px;
      }

      &::-webkit-scrollbar-track {
        margin: 10px 0 10px;
      }

      li {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        place-items: center;
        padding: 2px 5px;
        cursor: pointer;
        background-color: rgba($color-darkblue, 0.07);
        border: 2px solid rgba($color-darkblue, 0.2);
        border-left: none;
        border-right: none;
        margin-top: 5px;
        font-size: 1.05em;

        &:hover {
          border: 2px solid rgba($color-accentviolet, 0.2);
          color: $color-lightgrey;
          background-color: $color-accentviolet;
        }

        .float-value {
          font-family: "Open Sans", sans-serif;
        }
        .transaction-amount {
          display: flex;
          margin-left: auto;
          margin-right: 20%;
        }
      }
    }

    .no-transactions {
      display: grid;
      height: 100%;
      place-content: center;
      font-size: 1.5em;
      margin-top: 10%;
      pointer-events: none;
    }
  }
}

@media screen and (min-height: 900px) {
  .global-transactions {
    .transactions-table {
      .transactions-list {
        height: 85%;
      }
    }
  }
}
