@import "../assets/scss/styles";

.login-modal {
  position: absolute;
  background-color: $color-yellowgreen;
  top: 100%;
  right: 2.5%;
  padding: 0.1em 1em 0.6em;
  box-shadow: 5px 5px 5px rgb(194, 192, 192);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  .login-button {
    padding: 0 7px;
    margin: 6px 2px;
    font-weight: 600;
    color: $color-violet;
    transition: 500ms ease;
    border: 3px solid $color-yellowgreen;
    box-shadow: -3px -3px 6px rgba($color-white, 0.5),
      3px 3px 6px rgba($color-accentgreen, 0.6);
    border: 3px solid rgba($color-accentgreen, 0.06);
    border-radius: 10px;
    background-color: $color-yellowgreen;

    cursor: pointer;

    &:hover {
      box-shadow: -12px -12px 24px rgba($color-white, 0.3),
        inset -5px -5px 10px rgba($color-darkblue, 0.09),
        inset 5px 5px 10px rgba($color-darkblue, 0.09),
        12px 12px 24px rgba($color-darkblue, 0.06);
      border: 3px solid rgba($color-accentgreen, 0.3);
      background-color: rgba($color-accentgreen, 0.09);
    }
  }
}
