@import "../assets/scss/styles";

.manage {
  display: grid;
  grid-template-columns: repeat(12, 6%);
  column-gap: 2%;
  grid-template-rows: repeat(12, 6%);
  row-gap: 2%;
  width: 100vw;
  height: 100vh;
  margin: 2%;

  .user-table {
    background-color: rgba($color-lightgrey, 0.095);
    box-shadow: -12px -12px 24px rgba($color-white, 0.3),
      inset 15px 15px 50px rgba($color-white, 0.1),
      12px 12px 24px rgba($color-darkblue, 0.06);
    border-radius: 25px;
    grid-column: 3/13;
    grid-row: 2/12;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    border-bottom: 10px;

    &::-webkit-scrollbar {
      margin: 3px;
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-darkblue;
      border-radius: 20px;
    }
    &::-webkit-scrollbar-track {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .manage-header {
      display: grid;
      position: absolute;
      width: 100%;
      grid-template-columns: 25% 25% 20% 15% 15%;
      place-items: center;
      background-color: $color-lightgrey;
      padding: 5px;
    }

    ul {
      margin-top: 50px;
      margin-bottom: 20px;

      li {
        display: grid;
        grid-template-columns: 25% 25% 20% 15% 15%;
        padding: 2px 1px;
        place-items: center;
        cursor: pointer;
        background-color: rgba($color-darkblue, 0.07);
        border: 2px solid rgba($color-darkblue, 0.2);
        border-left: none;
        border-right: none;
        margin-top: 5px;

        &:hover {
          border: 2px solid rgba($color-darkblue, 0.09);
          color: $color-yellowgreen;
          background-color: rgba($color-darkblue, 0.9);
        }

        .name {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px;
        }
        .accountNumber,
        .balance > p {
          font-family: "Open Sans", sans-serif;
        }

        .balance {
          display: flex;
          margin-left: auto;
          margin-right: 35%;
        }
        .actions {
          display: flex;
          gap: 5px;
          margin-left: auto;
          margin-right: 35%;
        }
      }
    }
  }

  .no-users {
    font-size: 30px;
    top: 50px;
    text-align: center;
    z-index: 2;
    color: $color-darkblue;
    font-size: xx-large;
    grid-column: 5/11;
    grid-row: 4/7;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
  }
}
