@import "../assets/scss/color-palette";

.personal-transactions {
  text-align: center;
  width: fit-content;

  display: grid;
  grid-template-columns: repeat(12, 6%);
  column-gap: 2%;
  grid-template-rows: repeat(12, 6%);
  row-gap: 2%;
  width: 100vw;
  height: 100vh;
  margin: 2% 3%;

  h3 {
    margin-bottom: 10px;
  }
  .table {
    padding: 10px;

    border-radius: 20px;
    background-color: rgba($color-violet, 0.29);
    box-shadow: 2.5px 2.5px 1px rgba($color-lightgrey, 0.2),
      3px 3px 1px rgba($color-lightgrey, 0.3),
      4.5px 4.5px 1px rgba($color-lightgrey, 0.3),
      5.5px 5.5px 1px rgba($color-lightgrey, 0.4),
      6.5px 6.5px 1px rgba($color-lightgrey, 0.1),
      8.5px 8.5px 1px rgba($color-violet, 0.9);
    border: 3px solid rgba($color-violet, 0.1);
  }
  .table-header {
    display: grid;
    grid-template-columns: 55% 45%;
    place-items: center;
  }
  .table-list {
    overflow-y: scroll;
    height: 70%;
    width: 98%;
    position: absolute;
    font-family: "Open Sans", sans-serif;

    &::-webkit-scrollbar {
      margin: 3px;
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $color-darkblue;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-track {
      margin: 5px 0 15px;
    }
  }
  .table-list li {
    display: grid;
    grid-template-columns: 55% 45%;
    place-items: center;
  }
  .deposits-table {
    grid-column: 4/8;
    grid-row: 2/7;
    position: relative;
  }
  .withdrawals-table {
    grid-column: 8/12;
    grid-row: 2/7;
    position: relative;
  }

  .transfers-table {
    width: 100%;
    position: relative;
    grid-column: 4/12;
    grid-row: 7/12;
  }
  .transfers-header {
    display: grid;
    grid-template-columns: 25% 15% 20% 20% 20%;
    place-items: center;
  }
  .transfers-list li {
    display: grid;
    grid-template-columns: 25% 15% 20% 20% 20%;
    place-items: center;
  }

  .empty {
    position: relative;
    text-align: center;
    top: 50px;
  }

  .non-numerical-data {
    font-family: "Poppins", sans-serif;
  }
}
