@import "../Assets/scss/styles";
@import "../Assets/scss/mixins";

body {
  background-color: $color-lightgrey;
  accent-color: $color-violet;
}

.sign-up-form {
  position: relative;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 30px;
  background-color: rgba($color-darkblue, 0.2);
  box-shadow: 5px 5px 5px rgb(194, 192, 192);

  h3 {
    text-align: center;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  input {
    padding: 5px 10px;
    width: 100%;
    color: $color-darkblue;
    caret-color: $color-darkblue;
  }
  .form-control {
    padding: 5px;
  }
  .red-outline {
    outline: 2px solid red;
  }

  .checkbox-container {
    display: flex;
    align-items: baseline;
    gap: 5%;

    &:hover > .checkbox-label {
      .terms-link {
        color: $color-violet;
        text-decoration: underline;
      }
    }

    .checkbox {
      width: 5%;
      transform: scale(1.5);
      margin-left: 2px;
      cursor: pointer;
      padding: 3px;

      &:hover {
        background-color: rgba($color-lightgrey, 0.9);
      }
    }

    .checkbox-label {
      font-size: 1em;
    }

    .terms-link {
      cursor: pointer;
    }
  }

  .sign-up-button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 1px 10px 1px 10px;
    border-radius: 10px;
    @include buttons($color-lightgrey, $color-lightgrey, $color-violet, 700);

    &:hover {
      @include button-hover($color-violet, $color-violet, $color-lightgrey);
    }
  }
}
