* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input,
button,
select,
textarea,
a {
  font-size: inherit;
  font-family: inherit;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
